{% if site.footer.links %}
<footer class="page__footer">
  <div class="page__footer-social">
    <ul class="social-icons">
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li>
            <a href="{{ link.url }}" rel="nofollow noopener noreferrer" aria-label="{{ link.label }}">
              <i class="{{ link.icon | default: 'fas fa-link' }}"></i>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</footer>
{% endif %}
